/* START header */

.red-main-header {
  background-color: #f72210;
  fill: white;
}

.hover-red:hover {
  color: #f72210 !important;
}

.custom-icon-size {
  font-size: 1.1rem;
}

@media (max-width: 769px) {
  .custom-small-bt {
    font-size: 0.7rem;
  }

  #bars-header {
    font-size: 1.1rem;
  }
}

/* START header */

/* Start features section*/
.underline-red :hover {
  text-decoration: underline;
  text-decoration-color: #f72210;
}
/* End features section*/
/* Start Insights */
.border-width {
  max-width: 735px;
}

